* {
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sedgwick Ave Display";
}

html,
body {
  height: 100%;
}
body {
  background: url(img/Pngtree—backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#root {
  height: 100%;
}
button {
  background: inherit;
  border: none;
}
label {
  cursor: pointer;
}
.modale {
  text-shadow: 0 0 40px red;
  text-align: center;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  color: white;
  background: rgba(26, 1, 1, 0.917);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.modale__btn {
  margin-top: 20px;
  border-radius: 50%;
  font-size: 60px;
  background: red;
  padding: 20px 50px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 0px 4px 5px rgb(87, 66, 66);
}
.modale__btn:hover {
  background: rgba(203, 4, 4, 0.832);
}
.modale__btn:active {
  padding: 25px 50px 15px 50px;
  box-shadow: 0px 2px 3px rgb(87, 66, 66);
}
.game {
  position: absolute;
  top: 20px;
  left: calc(50vw - 360px);
}
.game__title {
  color: white;
  text-shadow: 0 0 12px red;
  font-size: 80px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 50px;
}

.game__board {
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.game__board-place {
  padding: 20px;
}
.game__board-info {
  text-shadow: 0 0 12px rgb(9, 5, 5);
  color: white;
  font-size: 40px;
  background: inherit;
  padding: 15px;
  text-align: center;
}
.btns {
  border-radius: 50%;
  border: 2px solid rgb(250, 250, 250) !important;
  overflow: hidden;
  max-width: 504px;
  flex-wrap: wrap;
  display: flex;
  box-shadow: 05px 20px 60px black;
}
.game_btn {
  width: 250px;
  height: 250px;
}
button.game_btn:not([disabled]):hover {
  filter: brightness(120%);
}
button.game_btn:not([disabled]):active {
  filter: brightness(250%);
}

.btn1 {
  background: rgb(7, 127, 7);
}
.btn2 {
  background: rgb(161, 9, 9);
}
.btn3 {
  background: rgb(170, 170, 4);
}
.btn4 {
  background: rgb(8, 8, 183);
}
.start-game__btn {
  background: rgba(255, 0, 0, 0.423);
  color: white;
  cursor: pointer;
  text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 14px rgb(0, 0, 0),
    0 0 24px rgb(0, 0, 0);
  border: 3px solid rgba(0, 0, 0, 0.196);
  box-shadow: 0 4px 0 5px black;
  border-radius: 50%;
  font-size: inherit;
  padding: 20px;
}
.start-game__btn:hover {
  background: rgba(255, 0, 0, 0.645);
}
.start-game__btn:active {
  padding-top: 25px;
  box-shadow: 0 2px 0 2px black;
}
.difficulty__choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1185px) {
  .modale {
    padding-top: 100px;
  }
  .game {
    position: absolute;
    left: calc(50vw - 300px);
    top: 20px;
  }
  .game__board {
    flex-direction: column;
    align-items: center;
  }
  .btns {
    max-width: 504px;
  }
  .game_btn {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 600px) {
  .game__title {
    font-size: 54px;
  }
  .game {
    top: 20px;
    left: calc(50vw - 180px);
  }
  .game__title {
    margin-bottom: 90px;
  }
  .btns {
    max-width: 304px;
  }
  .game_btn {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 400px) {
  .game__title {
    font-size: 57px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .game__board-place {
    width: 304px;
  }
  .btns {
    width: 304px;
  }
  .game_btn {
    width: 150px;
    height: 150px;
  }
}

.difficulty__container {
  background: rgba(41, 1, 1, 0.543);
  border: 5px solid black;
  border-radius: 30px;
  padding: 10px 20px;
  min-height: 480px;
}
.diffuculty__title {
  margin-bottom: 10px;
  padding: 15px;
}
.label-container {
  width: 300px;
  display: flex;
}
.label-span {
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
}
.radio {
  border-radius: 50%;
  padding: 15px;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}
.easy-radio {
  background: rgba(0, 255, 42, 0.219);
  border: 4px solid green;
  box-shadow: 0px 0px 22px green, 0px 0px 5px green inset;
}
.easy-radio:hover {
  background: green;
}
.normal-radio {
  background: rgba(238, 255, 0, 0.219);
  border: 4px solid yellow;
  box-shadow: 0px 0px 22px yellow, 0px 0px 5px yellow inset;
}
.normal-radio:hover {
  background: yellow;
}
.hard-radio {
  background: rgba(243, 2, 2, 0.219);
  border: 4px solid rgba(238, 3, 3, 0.728);
  box-shadow: 0px 0px 22px black, 0px 0px 5px black inset;
}
.hard-radio:hover {
  background: rgb(190, 1, 1);
}
.hard-radio:hover,
.easy-radio:hover,
.normal-radio:hover {
  box-shadow: 0 0 60px rgba(255, 0, 0, 0.645);
}
.score {
  text-shadow: 0 0 20px rgb(205, 0, 0);
  background: rgba(41, 1, 1, 0.543);
  background-repeat: no-repeat;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 0 5px black;
  border-radius: 30px;
}

.radio.radio-active {
  background: radial-gradient(
    rgb(0, 0, 0),
    rgba(197, 0, 0, 0.47) 30%,
    black 34%,
    white 42%,
    black 60%
  );
  box-shadow: 0 0 0 5px black;
}

.game__btn-active {
  transition-duration: 40ms;
  transition-delay: 10ms;
  filter: brightness(250%);
}
